
<div class="students-wrapper">

  <div class="student"
    *ngFor="let student of students; trackBy: trackItem"
    [class.winner]="student.winner">
    <div class="thumbnail">
      <img [src]="getCardPath(student.card)" />
    </div>
    <div class="name">
      {{ student.name }}
    </div>
  </div>

  <div class="winner-wrapper" *ngIf="!selected">
    <div class="select">
      <button class="btn" (click)="selectWinner()">Select Winner</button>
    </div>
  </div>

  <div class="winner-wrapper" *ngIf="!!selected">
    <div class="select">
      <button class="btn" (click)="storeAttendees()">Capture Attendees</button>
    </div>
  </div>

</div>
