
.students-wrapper {
  padding: 2em;

  .winner-wrapper {
    margin-top: 2em;
  }

  .student {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    padding-left: 0.5em;

    .thumbnail {
      display: inline-block;
      padding-right: 1em;
    }
    .name {
      display: inline-block;
    }
  }

  .student:not(:last-of-type) {
    border-bottom: 1px solid silver;
  }

  .student.winner {
    background-color: #9af946;
    border: 1px solid black;
  }
}
