
<div class="students-wrapper">

  <div class="toolbar">
    <span class="display-number">{{ students.length }} {{ students.length === 1 ? 'Attendee' : 'Attendees' }}</span>

    <button class="btn" *ngIf="!selected" (click)="selectWinner()">Select Winner</button>
    <button class="btn" *ngIf="!!selected" (click)="storeAttendees()">Capture Attendees</button>
  </div>

  <div class="students--scroll-wrapper">
    <div class="student"
      *ngFor="let student of students; trackBy: trackItem"
      [class.winner]="student.winner">
      <div class="thumbnail">
        <img [src]="getCardPath(student.card)" />
      </div>
      <div class="name">
        {{ student.name }}
      </div>
      <div class="tools" (click)="deleteUser(student)">X</div>
    </div>
  </div>

</div>
